// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

@import url('https://fonts.googleapis.com/css?family=Domine|Roboto&display=swap');

body {
	font-family: 'Roboto', sans-serif;
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
}

/* Header Layout */

.site-title,
.post-link,
.page-link,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Domine', serif;
}

.header-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.theme-switch-wrapper {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex: 1;
	padding-right: 20px;
}

@media screen and (max-width: 600px) {
	.theme-switch-wrapper {
		padding-right: 10px;
		padding-right: 50px;
	}

	.site-title {
		font-size: 22px;
		padding-right: 20px;
	}

	.site-nav {
		background-color: var(--bg-color);
	}
	
	.site-nav .menu-icon > svg path {
		fill: var(--font-color);
	}	

}

@media screen and (max-width: 370px) {
	.site-title {
		font-size: 16px;
	}
}

.site-nav .menu-icon > svg path {
	fill: var(--primary-color);
}	


/* Content Layout */

.post-content h1,
.post-content h2,
.post-content h3 {
	margin-top: 0;
}

.post-list h3 {
	margin-bottom: 0px;
}

.post-list h3:not(:first-child) {
	margin-top: 20px;
}

/* Footer Layout */

@media screen and (min-width: 600px) {

	.footer-col-wrapper {
		justify-content: space-between;
	}

	.footer-col {
		width: auto;
	}
}

/* Dark Mode Styles */
:root {
	--primary-color: #6c695e; 
	--secondary-color: #eeeae1;
	--font-color: #333;
	--bg-color: #ffffff;
	--heading-color: #6c695e;
}

[data-theme="dark"] {
	--primary-color: #FFF;
	--secondary-color: #2e2b26;
	--font-color: #FFF;
	--bg-color: #413d35;
	--heading-color: #FFF;
}

body {
	background-color: var(--bg-color);
	color: var(--font-color);
}

h1 {
	color: var(--heading-color);
}

a:link,
a:visited,
a:active,
a:hover {
	color: var(--primary-color) !important;
}

.site-header {
	border-top: 5px solid var(--primary-color);
	background-color: var(--secondary-color);
}

nav.switcher-nav {
	display: flex;
	justify-content: flex-end;
	padding: 20px 0;
}

.site-title,
.site-title:visited,
.post-meta,
.footer-col-wrapper,
.social-links {
	color: var(--primary-color) !important;
}

/*slider switch css */
.theme-switch-wrapper {
	display: flex;
	align-items: center;

	em {
		margin-left: 10px;
		font-size: 1rem;
	}
}

.theme-switch {
	display: inline-block;
	height: 34px;
	position: relative;
	width: 60px;
}

.theme-switch input {
	display: none;
}

.slider {
	/* background-color: #ccc; */
	background-color: var(--heading-color);
	bottom: 0;
	cursor: pointer;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: .4s;
}

.slider:before {
	background-color: #fff;
	bottom: 4px;
	content: "";
	background-image: url(/assets/light-bulb.svg);
	background-position: center center;
	background-size: 60%;
	background-repeat: no-repeat;
	height: 26px;
	left: 4px;
	position: absolute;
	transition: .4s;
	width: 26px;
}

input:checked+.slider {
	background-color: var(--primary-color);
}

input:checked+.slider:before {
	transform: translateX(26px);
	background-image: url(/assets/light-bulb-white.svg);
	background-color: var(--bg-color);
}

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

/* New Hamburger Menu */

.hamburger {
	background: none;
	position: absolute;
	top: 0;
	right: 0;
	line-height: 45px;
	padding: 5px 15px 0px 15px;
	color: #999;
	border: 0;
	font-size: 1.4em;
	font-weight: bold;
	cursor: pointer;
	outline: none;
	z-index: 10000000000000;
}

.cross {
	background: none;
	position: absolute;
	top: 0px;
	right: 0;
	padding: 7px 15px 0px 15px;
	color: #999;
	border: 0;
	font-size: 3em;
	line-height: 65px;
	font-weight: bold;
	cursor: pointer;
	outline: none;
	z-index: 10000000000000;
}

.menu {
	z-index: 1000000;
	font-weight: bold;
	font-size: 0.8em;
	width: 100%;
	background: #f1f1f1;
	position: absolute;
	text-align: center;
	left: 0;
    top: 57px;
}

.menu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style-image: none;
}

.menu li {
	display: block;
	border-bottom: #dddddd 1px solid;
}

.menu li:hover {
	display: block;
	background: #ffffff;
	border-bottom: #dddddd 1px solid;
}

.menu ul li a {
	text-decoration: none;
	margin: 0px;
	color: #666;
}

.menu ul li a:hover {
	color: #666;
	text-decoration: none;
}

.menu a {
	text-decoration: none;
	color: #666;
}

.menu a:hover {
	text-decoration: none;
	color: #666;
}

.glyphicon-home {
	color: white;
	font-size: 1.5em;
	margin-top: 5px;
	margin: 0 auto;
}