// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

html, html[data-theme="light"] { 
  	--link-base-color: rgb(0, 112, 201);
  	--background-color: rgb(255, 255, 255);
  	--text-color: rgb(51, 51, 51);
}

html[data-theme="dark"] {
  		--link-base-color: rgb( 100, 210, 255);
  		--background-color: rgb(28, 28, 30);
  		--text-color: rgb(229, 229, 234);
	}

@media (prefers-color-scheme: dark) {
	html, html[data-theme="dark"] {
  		--link-base-color: rgb( 100, 210, 255);
  		--background-color: rgb(28, 28, 30);
  		--text-color: rgb(229, 229, 234);
	}
	
	html[data-theme="light"] { 
  	--link-base-color: rgb(0, 112, 201);
  	--background-color: rgb(255, 255, 255);
  	--text-color: rgb(51, 51, 51);
	}
}